#footerCarousel {
    position: relative;
}

.slideInfoFooter {
    background: transparent;
    color: #FFF;
    text-align: initial;
}

.infoP {
    font-size: 14px;
}

.backFooter, .nextFooter {
    background: transparent;
    position: absolute;
    border: 0;
    top: 0.3rem;
    font-size: 20px;
    color: rgba(100, 181, 246, 0.75);
}

.backFooter {
    right: 10%;
}

.nextFooter {
    right: 1%;
}