#footer {
    background: #555;
    padding-top: 3rem;
}

.h4Footer {
    color: #FFF;
    text-transform: uppercase;
}

.icon {
    color: #64B5F6;
    font-size: 28px;
    margin-right: 1rem;
}

.bottomFooter {
    background: #666;
    color: #FFF;
    padding: 1rem;
}

.bottomFooterInfo {
    max-width: 1200px;
    display: flex;
    margin: auto;
}

.bottomFooterLeft {
    width: 50%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.37);
    font-size: 12px;
}

.bottomFooteritem {
    color: rgba(100, 181, 246, 0.75);
    font-size: 12px;
}

.bottomFooterRight {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.67);
    font-size: 12px;
}