#header {

}

.slideInfo {
    text-align: center;
    background: #eee;
}

.back, .next {
    background: transparent;
    position: absolute;
    border: 0;
    top: 27%;
    font-size: 40px;
}

.back {
    left: 1%;
}

.next {
    left: 95%;
}