#mainPage {
    
}

.solutions {
    width: 100%;
    margin: 2rem 0;
}

.margin {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.h2 {
    margin-bottom: 1rem;
}

.imgPreview {
    width: 100%;
    height: 7rem;
}

.solutionsRow {
    width: 30%;
    margin-right: 3%;
}

.devRes {
    background: #f5f5f5;
    padding: 2rem 0;
    margin: 2rem 0;
}

.devResRow {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: #64B5F6;
    padding: 1rem 0;
}

h4 {
    margin: 0.5rem 0;
}