#navbar {
    
}

.top {
    margin: 1rem;
    display: flex;
}

.left {
    width: 50%;
}

.item {
    margin: 0 1rem 1rem 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.67;
}

img {
    height: 30px;
}

.right {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.bottom {
    background: #ffa500;
    display: flex;
    color: #FFF;
    padding: 0.35rem 1rem;
}